.wrapper,
html,
body {
  height: 100%;
  margin: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  font-size: large;
}
h1{
  text-align: center;
  width: auto;
  font-size: xx-large;
  margin-top: 0px;
  padding-top: 1%;
}

button {
  width: auto;
  height: 5rem;
  border-radius: 4%;
  border-style: groove;
  background-color: rgb(254, 251, 234);
  font-size: xx-large;
}

#app {
  height: auto;
}

#main-content {
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: stretch;
  flex-grow: 1;
  height: 96%;
}

#calculator {
  margin: 5px;
  background-color: #94d2bd;
  font-size: x-large;
  transition: width 1s ease-in-out;
  display: table;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  white-space: nowrap;
}
.table-cell>p{
  font-size: large;
  color: black;
}

.calcuatorDesignBStart {
  margin: 10%;
  padding-top: 5%;
  padding-left: 5%;
  width: 100%;
  flex-grow: 0;
  padding-bottom: 5%;
}

.calcuatorDesignBStart>div>div>input[type=number] {
  width: 25%;
}

.calcuatorDesignBStart>div>div>span>input[type=number] {
  width: 25%;
}

.calcuatorDesignBStart>div>div>select {
  width: auto;
}

.calcuatorDesignBStart>div>div>span>select {
  width: auto;
}

.divSlide {
  width: 35%;
  flex-grow: 0;
  padding: 8px;
  animation-name: padding-skrink;
  animation-duration: 1s;
}

@keyframes padding-skrink {
  from {
    padding-top: 5%;
    padding-left: 5%;
  }

  to {
    padding: 8px;
  }
}

.fadeIn {
  animation-name: div-appear;
  animation-duration: 1s;
}

@keyframes div-appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.calcuatorDesignBEnd {
  flex-grow: 20;
  padding: 8px;
}

.calcuatorDesignA {
  flex-grow: 20;
  padding: 8px;
}


input[type=number] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

option {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select {
  width: auto;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#results-body {
  display: flex;
  flex-direction: column;
  flex-grow: 80;
}

#graph-results {
  margin: 5px;
  padding: 8px;
  background-color: crimson;
  flex-grow: 80;
}

#text-results {
  margin: 5px;
  padding: 8px;
  background-color: #e9d8a6;
  flex-grow: 20;
  height: 10%;
}

.input-euro {
  position: relative;
}

.input-euro.left input {
  padding-left: 24px;
}

.input-euro:before {
  padding-left: 10px;
  position: absolute;
  top: 0;
  content: "€";
}
#optinalFeesSymbol{
  width: auto;
}

.input-percent {
  position: relative;
}

.input-percnet.right input {
  padding-right: 18px;
  text-align: end;
}

.input-percent:before {
  position: absolute;
  top: 0;
  content: "%";
}

.input-percent.right:before {
  right: 5px;
}
footer{
  background-color: #90e0ef;
  position: absolute;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
  background: rgb(2,0,36);
  background: -moz-linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(179,242,255,0.5228466386554622) 100%);
  background: -webkit-linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(179,242,255,0.5228466386554622) 100%);
  background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(179,242,255,0.5228466386554622) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#b3f2ff",GradientType=1);
  padding-left: 10px;
  margin: 0px;
}